@font-face {
    font-family: 'HYpacman';
    src: url('../font/HYpacman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.pacman {
    font-family: 'HYpacman';
}